
<link href="../static/login.css" rel="stylesheet" type="text/css">
{% block body %}

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<div class="logo_login"><img src="../static/img/logo.png" style="background-repeat:no-repeat; width: 60px; float:left; margin-left: 15px; border-right:1px solid lightgrey;"></div>

                <div id="title_login"><h3 style="padding-top: 10px; ">Crasd Management Portal</h3></div>

			</div>

            <h2 class="app-title" style="padding-top: 10px;">Login</h2>
			<div class="login-form">
				<div class="control-group">
				<input type="text" maxlength="10" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" maxlength="10" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="red_flash">
                     {% for message in messages %}
                         <li class="red_flash">{{ message }}</li>
                     {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}

